.container {
    display: flex;
    flex-direction: row;
    height: 650px;
    width: 360px;
    background-color: rgb(238, 233, 228);
    border-radius: 10px;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: fixed;


    
  }
  .container1{
    display: flex;
    flex-direction: row;
    height: 650px;
    width: 360px;
    background-color: rgb(238, 233, 228);
    border-radius: 10px;
    color: black;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-left: 420px;
    position: fixed;

    

    
  }
  .container2{
    display: flex;
    flex-direction: row;
    height: 650px;
    width: 360px;
    background-color: rgb(238, 233, 228);
    border-radius: 10px;
    color: black;
    bottom: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-right: 420px;
    float: right;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    
}



  .cart1 img{
    padding: 40px;
    margin-top: 30px;
    height: 400px;
    width: 340px;
    border-radius: 10px;

    
  }
  .cart2 img{
    padding: 40px;
    margin-top: 30px;
    height: 400px;
    width: 340px;
    border-radius: 10px;
  }
  .cart3 img{
    padding: 40px;
    margin-top: 30px;
    height: 400px;
    width: 340px;
    border-radius: 10px;
  }
  
  .read-more-btn {
 display: inline-block;
  padding: 10px 20px;
  background-color: #847777;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.pandb{

text-align: center;
margin-bottom: 74px;
}